<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title inertia>ForumGW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    @inertiaHead()
    @viteReactRefresh()
    @vite(['inertia/app/app.tsx'])
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
  </head>
  <body class="bg-custom-black text-black">
    @inertia()
  </body>
</html>
