<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title inertia>ForumGW</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="{{ csrfToken }}" />
    @inertiaHead()
    @viteReactRefresh()
    @vite(['inertia/app/app.tsx'])
  </head>
  <body class="bg-custom-black text-white">

    @inertia()
  </body>
</html>
